In [1]:
# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
import os
import sklearn.preprocessing

# wrangle
import wrangle
import env
import util

In [2]:
# let's me see more rows other than the first and last 5
pd.set_option("display.max_rows", 150)

In [3]:
# acquires data from SQL database if it's not already locally saved as a .csv 
# file and combines requested tables into a dataframe using wrangle module
z_df = wrangle.get_zillow_data()
z_df.tail()

,propertylandusetypeid,parcelid,id,logerror,transactiondate,id.1,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc
52437,261.0,17115142,76623,0.004695,2017-09-14,2803929,NaN,NaN,NaN,2.0,...,NaN,153137.0,306274.0,2016.0,153137.0,3310.66,NaN,NaN,6.111002e+13,Single Family Residential
52438,261.0,10765668,76622,-0.038184,2017-09-14,2372597,1.0,NaN,NaN,3.0,...,NaN,195236.0,313705.0,2016.0,118469.0,4031.36,Y,14.0,6.037134e+13,Single Family Residential
52439,261.0,10761378,76620,0.219625,2017-09-14,2417187,1.0,NaN,NaN,2.0,...,NaN,137835.0,328340.0,2016.0,190505.0,4064.34,Y,15.0,6.037131e+13,Single Family Residential
52440,261.0,11951945,76618,-0.067738,2017-09-14,2108582,NaN,NaN,NaN,1.0,...,NaN,88455.0,395956.0,2016.0,307501.0,4759.25,NaN,NaN,6.037187e+13,Single Family Residential
52441,261.0,11784034,76617,0.025360,2017-09-14,1341842,1.0,NaN,NaN,1.0,...,NaN,126400.0,158000.0,2016.0,31600.0,2712.37,NaN,NaN,6.037207e+13,Single Family Residential

In [4]:
# quick check of columns, nulls via non-nulls to total entries, and data types
z_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52442 entries, 0 to 52441
Data columns (total 63 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   propertylandusetypeid         52442 non-null  float64
 1   parcelid                      52442 non-null  int64
 2   id                            52442 non-null  int64
 3   logerror                      52442 non-null  float64
 4   transactiondate               52442 non-null  object
 5   id.1                          52442 non-null  int64
 6   airconditioningtypeid         13638 non-null  float64
 7   architecturalstyletypeid      70 non-null     float64
 8   basementsqft                  47 non-null     float64
 9   bathroomcnt                   52442 non-null  float64
 10  bedroomcnt                    52442 non-null  float64
 11  buildingclasstypeid           0 non-null      float64
 12  buildingqualitytypeid         33741 non-null  float64
 13  calculatedbathnbr             52305 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4381 non-null   float64
 16  calculatedfinishedsquarefeet  52360 non-null  float64
 17  finishedsquarefeet12          52195 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4381 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52442 non-null  float64
 23  fireplacecnt                  7243 non-null   float64
 24  fullbathcnt                   52305 non-null  float64
 25  garagecarcnt                  18015 non-null  float64
 26  garagetotalsqft               18015 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  heatingorsystemtypeid         33936 non-null  float64
 29  latitude                      52442 non-null  float64
 30  longitude                     52442 non-null  float64
 31  lotsizesquarefeet             52073 non-null  float64
 32  poolcnt                       11096 non-null  float64
 33  poolsizesum                   867 non-null    float64
 34  pooltypeid10                  444 non-null    float64
 35  pooltypeid2                   1071 non-null   float64
 36  pooltypeid7                   10009 non-null  float64
 37  propertycountylandusecode     52442 non-null  object
 38  propertyzoningdesc            33849 non-null  object
 39  rawcensustractandblock        52442 non-null  float64
 40  regionidcity                  51405 non-null  float64
 41  regionidcounty                52442 non-null  float64
 42  regionidneighborhood          19033 non-null  float64
 43  regionidzip                   52416 non-null  float64
 44  roomcnt                       52442 non-null  float64
 45  storytypeid                   47 non-null     float64
 46  threequarterbathnbr           6724 non-null   float64
 47  typeconstructiontypeid        76 non-null     float64
 48  unitcnt                       33848 non-null  float64
 49  yardbuildingsqft17            1937 non-null   float64
 50  yardbuildingsqft26            63 non-null     float64
 51  yearbuilt                     52326 non-null  float64
 52  numberofstories               14561 non-null  float64
 53  fireplaceflag                 81 non-null     float64
 54  structuretaxvaluedollarcnt    52358 non-null  float64
 55  taxvaluedollarcnt             52441 non-null  float64
 56  assessmentyear                52442 non-null  float64
 57  landtaxvaluedollarcnt         52441 non-null  float64
 58  taxamount                     52438 non-null  float64
 59  taxdelinquencyflag            2079 non-null   object
 60  taxdelinquencyyear            2079 non-null   float64
 61  censustractandblock           52319 non-null  float64
 62  propertylandusedesc           52442 non-null  object
dtypes: float64(55), int64(3), object(5)
memory usage: 25.6+ MB

In [5]:
# custom function that gets the number of rows, columns, and number of rows with
# nulls for each column.  Also returns description for common values from table
util.metrics(z_df)

There are 52442 rows and 63 columns in this dataframe.
Plus the following nulls:
propertylandusetypeid               0
parcelid                            0
id                                  0
logerror                            0
transactiondate                     0
id.1                                0
airconditioningtypeid           38804
architecturalstyletypeid        52372
basementsqft                    52395
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             52442
buildingqualitytypeid           18701
calculatedbathnbr                 137
decktypeid                      52053
finishedfloor1squarefeet        48061
calculatedfinishedsquarefeet       82
finishedsquarefeet12              247
finishedsquarefeet13            52442
finishedsquarefeet15            52442
finishedsquarefeet50            48061
finishedsquarefeet6             52277
fips                                0
fireplacecnt                    45199
fullbathcnt                       137
garagecarcnt                    34427
garagetotalsqft                 34427
hashottuborspa                  50927
heatingorsystemtypeid           18506
latitude                            0
longitude                           0
lotsizesquarefeet                 369
poolcnt                         41346
poolsizesum                     51575
pooltypeid10                    51998
pooltypeid2                     51371
pooltypeid7                     42433
propertycountylandusecode           0
propertyzoningdesc              18593
rawcensustractandblock              0
regionidcity                     1037
regionidcounty                      0
regionidneighborhood            33409
regionidzip                        26
roomcnt                             0
storytypeid                     52395
threequarterbathnbr             45718
typeconstructiontypeid          52366
unitcnt                         18594
yardbuildingsqft17              50505
yardbuildingsqft26              52379
yearbuilt                         116
numberofstories                 37881
fireplaceflag                   52361
structuretaxvaluedollarcnt         84
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
taxdelinquencyflag              50363
taxdelinquencyyear              50363
censustractandblock               123
propertylandusedesc                 0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
propertylandusetypeid,52442.0,2.610000e+02,0.000000e+00,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02
parcelid,52442.0,1.299912e+07,3.411412e+06,1.071186e+07,1.151030e+07,1.257766e+07,1.412951e+07,1.676878e+08
id,52442.0,3.886063e+04,2.234844e+04,0.000000e+00,1.954625e+04,3.892750e+04,5.809350e+04,7.761300e+04
logerror,52442.0,1.829437e-02,1.775018e-01,-4.655420e+00,-2.463935e-02,7.009984e-03,4.069098e-02,5.262999e+00
id.1,52442.0,1.497288e+06,8.594413e+05,3.490000e+02,7.579560e+05,1.500836e+06,2.241564e+06,2.982270e+06
airconditioningtypeid,13638.0,2.438041e+00,3.846176e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
architecturalstyletypeid,70.0,7.100000e+00,2.665670e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
basementsqft,47.0,6.789787e+02,7.118252e+02,3.800000e+01,2.635000e+02,5.120000e+02,8.095000e+02,3.560000e+03
bathroomcnt,52442.0,2.299397e+00,1.022764e+00,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,52442.0,3.300675e+00,9.490858e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.400000e+01
buildingclasstypeid,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buildingqualitytypeid,33741.0,6.264100e+00,1.716181e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,52305.0,2.304732e+00,1.017958e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,389.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,4381.0,1.545611e+03,6.748653e+02,1.840000e+02,1.151000e+03,1.410000e+03,1.759000e+03,6.912000e+03
calculatedfinishedsquarefeet,52360.0,1.922874e+03,1.004363e+03,1.280000e+02,1.268000e+03,1.659000e+03,2.306000e+03,2.192900e+04
finishedsquarefeet12,52195.0,1.925029e+03,1.004273e+03,1.280000e+02,1.270000e+03,1.660000e+03,2.308000e+03,2.192900e+04
finishedsquarefeet13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet50,4381.0,1.566375e+03,7.445229e+02,1.840000e+02,1.152000e+03,1.414000e+03,1.770000e+03,1.246700e+04
finishedsquarefeet6,165.0,1.241079e+03,7.769591e+02,3.800000e+02,7.840000e+02,1.008000e+03,1.320000e+03,5.598000e+03
fips,52442.0,6.049132e+03,2.102893e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,7243.0,1.209858e+00,5.128851e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,52305.0,2.239576e+00,9.931980e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,18015.0,1.948987e+00,5.499437e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,18015.0,4.958757e+02,1.570447e+02,0.000000e+00,4.260000e+02,4.620000e+02,5.670000e+02,4.251000e+03
hashottuborspa,1515.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
heatingorsystemtypeid,33936.0,3.966378e+00,2.562521e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,52442.0,3.402254e+07,2.739761e+05,3.334062e+07,3.382691e+07,3.402377e+07,3.418715e+07,3.481877e+07
longitude,52442.0,-1.181942e+08,3.566615e+05,-1.194754e+08,-1.184007e+08,-1.181531e+08,-1.179292e+08,-1.175546e+08
lotsizesquarefeet,52073.0,1.133952e+04,8.674680e+04,2.360000e+02,5.583000e+03,6.840000e+03,8.798000e+03,6.971010e+06
poolcnt,11096.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,867.0,5.183183e+02,1.564682e+02,2.400000e+01,4.245000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,444.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1071.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,10009.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,52442.0,6.049443e+07,2.086879e+05,6.037101e+07,6.037401e+07,6.037620e+07,6.059042e+07,6.111009e+07
regionidcity,51405.0,3.350309e+04,4.917614e+04,3.491000e+03,1.244700e+04,2.481200e+04,4.022700e+04,3.965560e+05
regionidcounty,52442.0,2.524599e+03,8.039863e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,19033.0,1.802671e+05,1.598249e+05,6.952000e+03,4.113100e+04,1.182080e+05,2.745140e+05,7.641670e+05
regionidzip,52416.0,9.663584e+04,4.605064e+03,9.598200e+04,9.620600e+04,9.641200e+04,9.699500e+04,3.996750e+05
roomcnt,52442.0,1.893673e+00,3.146418e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.500000e+01
storytypeid,47.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
threequarterbathnbr,6724.0,1.013682e+00,1.426160e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
typeconstructiontypeid,76.0,5.973684e+00,2.294157e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00
unitcnt,33848.0,1.000916e+00,3.121116e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
yardbuildingsqft17,1937.0,3.376278e+02,2.500216e+02,1.100000e+01,2.000000e+02,2.800000e+02,4.000000e+02,3.191000e+03
yardbuildingsqft26,63.0,2.256190e+02,1.885051e+02,1.200000e+01,7.150000e+01,1.800000e+02,3.170000e+02,8.680000e+02
yearbuilt,52326.0,1.963394e+03,2.313335e+01,1.878000e+03,1.950000e+03,1.961000e+03,1.979000e+03,2.016000e+03
numberofstories,14561.0,1.413914e+00,5.406765e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,81.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,52358.0,1.965315e+05,2.543382e+05,1.290000e+02,7.707175e+04,1.318070e+05,2.263198e+05,9.164901e+06
taxvaluedollarcnt,52441.0,5.296830e+05,7.518883e+05,1.000000e+03,1.937500e+05,3.736120e+05,6.193010e+05,4.906124e+07
assessmentyear,52442.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,52441.0,3.334626e+05,5.705227e+05,1.610000e+02,7.602600e+04,2.180250e+05,4.086000e+05,4.895220e+07
taxamount,52438.0,6.453452e+03,8.755495e+03,4.918000e+01,2.656250e+03,4.647730e+03,7.377445e+03,5.866393e+05
taxdelinquencyyear,2079.0,1.410245e+01,2.394972e+00,4.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,52319.0,6.050240e+13,1.859019e+12,6.037101e+13,6.037401e+13,6.037620e+13,6.059042e+13,4.830301e+14

In [6]:
# shows how many duplicate entries we have for parcelids which should be unique
# unless it's been sold multiple times in 2017
z_df.parcelid.duplicated().sum()

122

In [7]:
# shows the duplicate rows of parcelids and their respective transaction dates
dupe_pid = z_df[z_df.parcelid.duplicated(keep=False)]
dupe_pid[['parcelid', 'transactiondate']].sort_values(by='parcelid')

        parcelid transactiondate
8588    10722858      2017-07-28
8589    10722858      2017-03-02
8667    10732347      2017-03-01
8666    10732347      2017-07-25
1878    10739478      2017-01-13
...          ...             ...
25379   17280166      2017-05-23
43367   17282392      2017-08-07
43366   17282392      2017-08-25
23182  162960529      2017-05-26
23183  162960529      2017-05-09

[242 rows x 2 columns]

In [8]:
dupe_pid = dupe_pid.sort_values(by='transactiondate')
dupe_pid

,propertylandusetypeid,parcelid,id,logerror,transactiondate,id.1,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc
1381,261.0,11721753,1017,-0.011052,2017-01-05,616260,NaN,NaN,NaN,2.0,...,NaN,41948.0,205123.0,2016.0,163175.0,2627.48,NaN,NaN,6.037220e+13,Single Family Residential
1218,261.0,11289917,1247,0.227903,2017-01-06,2061546,1.0,NaN,NaN,2.0,...,NaN,108890.0,136104.0,2016.0,27214.0,2319.90,Y,15.0,6.037901e+13,Single Family Residential
672,261.0,14269464,2027,0.012505,2017-01-10,1923117,NaN,NaN,NaN,3.0,...,NaN,434887.0,880456.0,2016.0,445569.0,9819.72,NaN,NaN,6.059064e+13,Single Family Residential
857,261.0,11705026,1771,-0.034286,2017-01-10,1834372,NaN,NaN,NaN,1.0,...,NaN,11982.0,35606.0,2016.0,23624.0,543.69,NaN,NaN,6.037232e+13,Single Family Residential
2023,261.0,11446756,2680,0.064044,2017-01-12,451211,NaN,NaN,NaN,2.0,...,NaN,60537.0,107110.0,2016.0,46573.0,1399.27,NaN,NaN,6.037650e+13,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12684,261.0,13863275,18400,2.322401,2017-09-14,2604936,NaN,NaN,NaN,1.0,...,NaN,360175.0,1694922.0,2016.0,1334747.0,18789.34,NaN,NaN,6.059099e+13,Single Family Residential
23491,261.0,10979425,33837,-0.241779,2017-09-18,1416119,1.0,NaN,NaN,3.0,...,NaN,177734.0,370842.0,2016.0,193108.0,4658.25,Y,15.0,6.037106e+13,Single Family Residential
4344,261.0,12478591,7091,0.039378,2017-09-18,1535169,1.0,NaN,NaN,3.0,...,NaN,212000.0,612000.0,2016.0,400000.0,7204.93,NaN,NaN,6.037554e+13,Single Family Residential
7356,261.0,11957553,10543,-0.116322,2017-09-19,1094342,NaN,NaN,NaN,1.0,...,NaN,91000.0,455000.0,2016.0,364000.0,5479.50,NaN,NaN,6.037185e+13,Single Family Residential
51811,261.0,13083743,77613,-0.197755,2018-05-25,2455685,NaN,NaN,NaN,2.0,...,NaN,77118.0,259334.0,2016.0,182216.0,3345.78,NaN,NaN,6.037408e+13,Single Family Residential

In [9]:
dupe_pid = z_df[z_df.duplicated(subset=['transactiondate'], keep='last')]
dupe_pid

,propertylandusetypeid,parcelid,id,logerror,transactiondate,id.1,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc
0,261.0,12612840,889,0.079772,2017-01-05,1514581,NaN,NaN,NaN,2.0,...,NaN,29440.0,63380.0,2016.0,33940.0,1104.70,NaN,NaN,6.037670e+13,Single Family Residential
1,261.0,12611007,888,0.100001,2017-01-05,216904,NaN,NaN,NaN,2.0,...,NaN,71733.0,182691.0,2016.0,110958.0,2506.91,NaN,NaN,6.037670e+13,Single Family Residential
2,261.0,12023386,886,-0.006511,2017-01-05,304078,NaN,NaN,NaN,2.0,...,NaN,52583.0,87557.0,2016.0,34974.0,1229.29,NaN,NaN,6.037194e+13,Single Family Residential
3,261.0,11647399,883,0.006355,2017-01-05,1943418,NaN,NaN,NaN,4.0,...,NaN,337583.0,1687919.0,2016.0,1350336.0,20436.93,NaN,NaN,6.037265e+13,Single Family Residential
4,261.0,10780171,882,-0.059383,2017-01-05,90918,1.0,NaN,NaN,3.0,...,NaN,167789.0,225746.0,2016.0,57957.0,2851.71,NaN,NaN,6.037133e+13,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52436,261.0,12348184,76626,0.021500,2017-09-14,2303594,1.0,NaN,NaN,3.0,...,NaN,229420.0,429684.0,2016.0,200264.0,5426.24,NaN,NaN,6.037553e+13,Single Family Residential
52437,261.0,17115142,76623,0.004695,2017-09-14,2803929,NaN,NaN,NaN,2.0,...,NaN,153137.0,306274.0,2016.0,153137.0,3310.66,NaN,NaN,6.111002e+13,Single Family Residential
52438,261.0,10765668,76622,-0.038184,2017-09-14,2372597,1.0,NaN,NaN,3.0,...,NaN,195236.0,313705.0,2016.0,118469.0,4031.36,Y,14.0,6.037134e+13,Single Family Residential
52439,261.0,10761378,76620,0.219625,2017-09-14,2417187,1.0,NaN,NaN,2.0,...,NaN,137835.0,328340.0,2016.0,190505.0,4064.34,Y,15.0,6.037131e+13,Single Family Residential
52440,261.0,11951945,76618,-0.067738,2017-09-14,2108582,NaN,NaN,NaN,1.0,...,NaN,88455.0,395956.0,2016.0,307501.0,4759.25,NaN,NaN,6.037187e+13,Single Family Residential

Dropped duplicate rows of parcelid based on latest transaction date

In [10]:
# sorted df by transaction date
z_df = z_df.sort_values(by='transactiondate')
z_df

,propertylandusetypeid,parcelid,id,logerror,transactiondate,id.1,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc
585,261.0,14297519,0,0.025595,2017-01-01,1727539,NaN,NaN,NaN,3.5,...,NaN,485713.0,1023282.0,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13,Single Family Residential
584,261.0,17052889,1,0.055619,2017-01-01,1387261,NaN,NaN,NaN,1.0,...,NaN,88000.0,464000.0,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13,Single Family Residential
583,261.0,14186244,2,0.005383,2017-01-01,11677,NaN,NaN,NaN,2.0,...,NaN,85289.0,564778.0,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13,Single Family Residential
582,261.0,12177905,3,-0.103410,2017-01-01,2288172,NaN,NaN,NaN,3.0,...,NaN,108918.0,145143.0,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13,Single Family Residential
581,261.0,12095076,6,-0.001011,2017-01-01,781532,1.0,NaN,NaN,3.0,...,NaN,276684.0,773303.0,2016.0,496619.0,9516.26,NaN,NaN,6.037461e+13,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51815,261.0,11000655,77609,0.020615,2017-09-20,673515,NaN,NaN,NaN,2.0,...,NaN,70917.0,354621.0,2016.0,283704.0,4478.43,NaN,NaN,6.037101e+13,Single Family Residential
51814,261.0,17239384,77610,0.013209,2017-09-21,2968375,NaN,NaN,NaN,2.0,...,NaN,50683.0,67205.0,2016.0,16522.0,1107.48,NaN,NaN,6.111008e+13,Single Family Residential
51813,261.0,12773139,77611,0.037129,2017-09-21,1843709,1.0,NaN,NaN,1.0,...,NaN,32797.0,49546.0,2016.0,16749.0,876.43,NaN,NaN,6.037434e+13,Single Family Residential
51812,261.0,12826780,77612,0.007204,2017-09-25,1187175,NaN,NaN,NaN,2.0,...,NaN,140000.0,522000.0,2016.0,382000.0,6317.15,NaN,NaN,6.037503e+13,Single Family Residential
51811,261.0,13083743,77613,-0.197755,2018-05-25,2455685,NaN,NaN,NaN,2.0,...,NaN,77118.0,259334.0,2016.0,182216.0,3345.78,NaN,NaN,6.037408e+13,Single Family Residential

In [11]:
# drops all but the last duplicate row by parcelid
z_df = z_df.drop_duplicates(subset=['parcelid'], keep='last')
z_df

,propertylandusetypeid,parcelid,id,logerror,transactiondate,id.1,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc
585,261.0,14297519,0,0.025595,2017-01-01,1727539,NaN,NaN,NaN,3.5,...,NaN,485713.0,1023282.0,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13,Single Family Residential
584,261.0,17052889,1,0.055619,2017-01-01,1387261,NaN,NaN,NaN,1.0,...,NaN,88000.0,464000.0,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13,Single Family Residential
583,261.0,14186244,2,0.005383,2017-01-01,11677,NaN,NaN,NaN,2.0,...,NaN,85289.0,564778.0,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13,Single Family Residential
582,261.0,12177905,3,-0.103410,2017-01-01,2288172,NaN,NaN,NaN,3.0,...,NaN,108918.0,145143.0,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13,Single Family Residential
581,261.0,12095076,6,-0.001011,2017-01-01,781532,1.0,NaN,NaN,3.0,...,NaN,276684.0,773303.0,2016.0,496619.0,9516.26,NaN,NaN,6.037461e+13,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51815,261.0,11000655,77609,0.020615,2017-09-20,673515,NaN,NaN,NaN,2.0,...,NaN,70917.0,354621.0,2016.0,283704.0,4478.43,NaN,NaN,6.037101e+13,Single Family Residential
51814,261.0,17239384,77610,0.013209,2017-09-21,2968375,NaN,NaN,NaN,2.0,...,NaN,50683.0,67205.0,2016.0,16522.0,1107.48,NaN,NaN,6.111008e+13,Single Family Residential
51813,261.0,12773139,77611,0.037129,2017-09-21,1843709,1.0,NaN,NaN,1.0,...,NaN,32797.0,49546.0,2016.0,16749.0,876.43,NaN,NaN,6.037434e+13,Single Family Residential
51812,261.0,12826780,77612,0.007204,2017-09-25,1187175,NaN,NaN,NaN,2.0,...,NaN,140000.0,522000.0,2016.0,382000.0,6317.15,NaN,NaN,6.037503e+13,Single Family Residential
51811,261.0,13083743,77613,-0.197755,2018-05-25,2455685,NaN,NaN,NaN,2.0,...,NaN,77118.0,259334.0,2016.0,182216.0,3345.78,NaN,NaN,6.037408e+13,Single Family Residential

In [12]:
# checks percentage of relative null values for each column
z_df.isna().mean()

propertylandusetypeid           0.000000
parcelid                        0.000000
id                              0.000000
logerror                        0.000000
transactiondate                 0.000000
id.1                            0.000000
airconditioningtypeid           0.739774
architecturalstyletypeid        0.998662
basementsqft                    0.999102
bathroomcnt                     0.000000
bedroomcnt                      0.000000
buildingclasstypeid             1.000000
buildingqualitytypeid           0.356747
calculatedbathnbr               0.002580
decktypeid                      0.992565
finishedfloor1squarefeet        0.916456
calculatedfinishedsquarefeet    0.001548
finishedsquarefeet12            0.004702
finishedsquarefeet13            1.000000
finishedsquarefeet15            1.000000
finishedsquarefeet50            0.916456
finishedsquarefeet6             0.996846
fips                            0.000000
fireplacecnt                    0.861755
fullbathcnt                     0.002580
garagecarcnt                    0.656269
garagetotalsqft                 0.656269
hashottuborspa                  0.971063
heatingorsystemtypeid           0.353020
latitude                        0.000000
longitude                       0.000000
lotsizesquarefeet               0.006995
poolcnt                         0.788284
poolsizesum                     0.983467
pooltypeid10                    0.991533
pooltypeid2                     0.979530
pooltypeid7                     0.809060
propertycountylandusecode       0.000000
propertyzoningdesc              0.354702
rawcensustractandblock          0.000000
regionidcity                    0.019801
regionidcounty                  0.000000
regionidneighborhood            0.637213
regionidzip                     0.000497
roomcnt                         0.000000
storytypeid                     0.999102
threequarterbathnbr             0.871617
typeconstructiontypeid          0.998547
unitcnt                         0.354702
yardbuildingsqft17              0.963016
yardbuildingsqft26              0.998796
yearbuilt                       0.002179
numberofstories                 0.722248
fireplaceflag                   0.998452
structuretaxvaluedollarcnt      0.001567
taxvaluedollarcnt               0.000019
assessmentyear                  0.000000
landtaxvaluedollarcnt           0.000019
taxamount                       0.000076
taxdelinquencyflag              0.960474
taxdelinquencyyear              0.960474
censustractandblock             0.002313
propertylandusedesc             0.000000
dtype: float64

In [13]:
# shows the number of items for the values in each column most most to least
util.get_numbers(z_df)

propertylandusetypeid
261.0    52320
Name: propertylandusetypeid, dtype: int64
-----------------
parcelid
14297519    1
11874371    1
14010021    1
12496785    1
10808525    1
           ..
14002654    1
12168606    1
12742929    1
10757867    1
13083743    1
Name: parcelid, Length: 52320, dtype: int64
-----------------
id
0        1
52024    1
52010    1
52012    1
52015    1
        ..
26046    1
25999    1
26047    1
25998    1
77613    1
Name: id, Length: 52320, dtype: int64
-----------------
logerror
 0.002652    5
 0.000727    5
 0.001878    5
 0.000231    5
 0.018974    4
            ..
-0.018878    1
-0.069824    1
 0.017325    1
-0.012495    1
-0.197755    1
Name: logerror, Length: 52061, dtype: int64
-----------------
transactiondate
2017-06-30    809
2017-04-28    614
2017-05-31    565
2017-07-28    546
2017-08-31    528
             ...
2017-04-08      1
2017-03-25      1
2017-03-12      1
2017-03-11      1
2018-05-25      1
Name: transactiondate, Length: 258, dtype: int64
-----------------
id.1
1727539    1
20265      1
369019     1
2177130    1
2432387    1
          ..
2784512    1
811864     1
2603278    1
866395     1
2455685    1
Name: id.1, Length: 52320, dtype: int64
-----------------
airconditioningtypeid
1.0     11873
13.0     1567
5.0       159
11.0       16
Name: airconditioningtypeid, dtype: int64
-----------------
architecturalstyletypeid
7.0     62
3.0      3
2.0      2
21.0     2
8.0      1
Name: architecturalstyletypeid, dtype: int64
-----------------
basementsqft
900.0     2
912.0     2
640.0     2
100.0     2
515.0     2
273.0     2
819.0     1
1809.0    1
604.0     1
126.0     1
588.0     1
314.0     1
396.0     1
669.0     1
800.0     1
786.0     1
112.0     1
645.0     1
384.0     1
1969.0    1
252.0     1
600.0     1
1218.0    1
280.0     1
300.0     1
224.0     1
512.0     1
380.0     1
204.0     1
200.0     1
90.0      1
3112.0    1
405.0     1
1252.0    1
254.0     1
3560.0    1
352.0     1
168.0     1
394.0     1
1416.0    1
38.0      1
Name: basementsqft, dtype: int64
-----------------
bathroomcnt
2.0     21840
3.0     10650
1.0      9536
2.5      3932
4.0      2225
3.5       916
1.5       839
5.0       803
4.5       686
6.0       320
5.5       224
0.0       119
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: bathroomcnt, dtype: int64
-----------------
bedroomcnt
3.0     23303
4.0     15210
2.0      8317
5.0      3967
6.0       634
1.0       611
0.0       135
7.0       106
8.0        24
9.0         8
10.0        2
14.0        1
11.0        1
12.0        1
Name: bedroomcnt, dtype: int64
-----------------
buildingclasstypeid
Series([], Name: buildingclasstypeid, dtype: int64)
-----------------
buildingqualitytypeid
6.0     10260
8.0      8222
4.0      8136
7.0      3424
5.0      1507
9.0      1119
11.0      514
10.0      230
3.0       149
12.0       81
1.0         8
2.0         5
Name: buildingqualitytypeid, dtype: int64
-----------------
calculatedbathnbr
2.0     21840
3.0     10650
1.0      9536
2.5      3924
4.0      2225
3.5       916
1.5       832
5.0       803
4.5       686
6.0       320
5.5       223
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: calculatedbathnbr, dtype: int64
-----------------
decktypeid
66.0    389
Name: decktypeid, dtype: int64
-----------------
finishedfloor1squarefeet
1252.0    22
1462.0    21
1205.0    21
1227.0    19
1431.0    17
          ..
4300.0     1
1116.0     1
2196.0     1
1708.0     1
5774.0     1
Name: finishedfloor1squarefeet, Length: 1553, dtype: int64
-----------------
calculatedfinishedsquarefeet
1120.0    128
1200.0    118
1080.0    101
936.0      86
1040.0     86
         ...
3079.0      1
9843.0      1
7356.0      1
7812.0      1
5655.0      1
Name: calculatedfinishedsquarefeet, Length: 4723, dtype: int64
-----------------
finishedsquarefeet12
1120.0    127
1200.0    117
1080.0    101
936.0      86
1040.0     85
         ...
4845.0      1
6501.0      1
3361.0      1
6936.0      1
5655.0      1
Name: finishedsquarefeet12, Length: 4716, dtype: int64
-----------------
finishedsquarefeet13
Series([], Name: finishedsquarefeet13, dtype: int64)
-----------------
finishedsquarefeet15
Series([], Name: finishedsquarefeet15, dtype: int64)
-----------------
finishedsquarefeet50
1252.0    22
1205.0    21
1462.0    21
1227.0    19
1431.0    17
          ..
2107.0     1
2124.0     1
3912.0     1
2678.0     1
5774.0     1
Name: finishedsquarefeet50, Length: 1572, dtype: int64
-----------------
finishedsquarefeet6
952.0     4
520.0     3
750.0     2
765.0     2
845.0     2
         ..
1178.0    1
748.0     1
670.0     1
1200.0    1
905.0     1
Name: finishedsquarefeet6, Length: 155, dtype: int64
-----------------
fips
6037.0    33824
6059.0    14111
6111.0     4385
Name: fips, dtype: int64
-----------------
fireplacecnt
1.0    6024
2.0     942
3.0     229
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64
-----------------
fullbathcnt
2.0     25776
3.0     11575
1.0     10368
4.0      2912
5.0      1022
6.0       357
7.0        96
8.0        56
9.0        13
10.0        5
11.0        3
18.0        1
13.0        1
Name: fullbathcnt, dtype: int64
-----------------
garagecarcnt
2.0     14777
1.0      2197
3.0       621
4.0       253
0.0        65
5.0        45
6.0        13
7.0         3
10.0        3
8.0         2
9.0         2
11.0        1
13.0        1
14.0        1
Name: garagecarcnt, dtype: int64
-----------------
garagetotalsqft
400.0     786
441.0     678
462.0     658
360.0     646
460.0     569
         ...
1121.0      1
261.0       1
908.0       1
1155.0      1
957.0       1
Name: garagetotalsqft, Length: 839, dtype: int64
-----------------
hashottuborspa
1.0    1514
Name: hashottuborspa, dtype: int64
-----------------
heatingorsystemtypeid
2.0     20689
7.0     12527
6.0       517
20.0       85
13.0       16
1.0         7
18.0        6
10.0        2
24.0        1
Name: heatingorsystemtypeid, dtype: int64
-----------------
latitude
34047500.0    12
34487900.0     7
33494800.0     7
34101300.0     7
34041200.0     6
              ..
33942519.0     1
34031307.0     1
33548538.0     1
34017175.0     1
34010864.0     1
Name: latitude, Length: 50478, dtype: int64
-----------------
longitude
-118249000.0    12
-118327000.0     7
-117835000.0     7
-118172000.0     7
-117670000.0     7
                ..
-118180423.0     1
-118185630.0     1
-117931465.0     1
-118184391.0     1
-117900894.0     1
Name: longitude, Length: 50764, dtype: int64
-----------------
lotsizesquarefeet
6000.0      873
5000.0      413
7200.0      306
7000.0      285
6500.0      272
           ...
2527.0        1
126718.0      1
14146.0       1
3820.0        1
47405.0       1
Name: lotsizesquarefeet, Length: 14292, dtype: int64
-----------------
poolcnt
1.0    11077
Name: poolcnt, dtype: int64
-----------------
poolsizesum
450.0     89
400.0     38
500.0     30
600.0     27
800.0     25
          ..
604.0      1
434.0      1
1070.0     1
368.0      1
780.0      1
Name: poolsizesum, Length: 262, dtype: int64
-----------------
pooltypeid10
1.0    443
Name: pooltypeid10, dtype: int64
-----------------
pooltypeid2
1.0    1071
Name: pooltypeid2, dtype: int64
-----------------
pooltypeid7
1.0    9990
Name: pooltypeid7, dtype: int64
-----------------
propertycountylandusecode
0100    26714
122     13045
0101     6399
1111     3353
1        1066
1110     1024
0104      367
010G       93
0103       91
0108       57
010M       52
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64
-----------------
propertyzoningdesc
LAR1          6480
LARS          1380
LBR1N         1109
SCUR2          712
LARE11         611
              ...
PSR6*            1
LARE             1
MYR3PY           1
WHR11L           1
LCRA7000-R       1
Name: propertyzoningdesc, Length: 1286, dtype: int64
-----------------
rawcensustractandblock
6.037920e+07    36
6.037920e+07    32
6.037142e+07    24
6.059032e+07    24
6.059032e+07    23
                ..
6.037270e+07     1
6.037187e+07     1
6.037232e+07     1
6.111005e+07     1
6.037503e+07     1
Name: rawcensustractandblock, Length: 31440, dtype: int64
-----------------
regionidcity
12447.0    11418
5534.0      1791
40227.0     1491
46298.0     1424
16764.0     1085
           ...
32927.0        3
31134.0        2
36078.0        1
10815.0        1
21395.0        1
Name: regionidcity, Length: 175, dtype: int64
-----------------
regionidcounty
3101.0    33824
1286.0    14111
2061.0     4385
Name: regionidcounty, dtype: int64
-----------------
regionidneighborhood
48570.0     501
118208.0    473
27080.0     448
274049.0    391
51906.0     373
           ...
273350.0      1
764146.0      1
268050.0      1
273096.0      1
762940.0      1
Name: regionidneighborhood, Length: 437, dtype: int64
-----------------
regionidzip
97319.0    776
97318.0    670
97329.0    563
97328.0    519
97118.0    497
          ...
97092.0      1
96038.0      1
96148.0      1
96467.0      1
97088.0      1
Name: regionidzip, Length: 381, dtype: int64
-----------------
roomcnt
0.0     37761
6.0      3974
7.0      3608
8.0      2810
5.0      1886
9.0      1173
4.0       518
10.0      338
11.0      108
3.0        79
12.0       35
2.0        12
13.0       10
14.0        6
1.0         1
15.0        1
Name: roomcnt, dtype: int64
-----------------
storytypeid
7.0    47
Name: storytypeid, dtype: int64
-----------------
threequarterbathnbr
1.0    6638
2.0      70
3.0       8
7.0       1
Name: threequarterbathnbr, dtype: int64
-----------------
typeconstructiontypeid
6.0    75
4.0     1
Name: typeconstructiontypeid, dtype: int64
-----------------
unitcnt
1.0    33734
2.0       27
3.0        1
Name: unitcnt, dtype: int64
-----------------
yardbuildingsqft17
200.0    85
240.0    71
300.0    49
400.0    37
288.0    34
         ..
281.0     1
710.0     1
786.0     1
82.0      1
990.0     1
Name: yardbuildingsqft17, Length: 504, dtype: int64
-----------------
yardbuildingsqft26
120.0    3
56.0     2
300.0    2
240.0    2
448.0    2
196.0    1
140.0    1
48.0     1
39.0     1
284.0    1
133.0    1
486.0    1
250.0    1
491.0    1
91.0     1
16.0     1
204.0    1
71.0     1
28.0     1
195.0    1
292.0    1
231.0    1
30.0     1
320.0    1
49.0     1
384.0    1
180.0    1
868.0    1
462.0    1
461.0    1
368.0    1
105.0    1
37.0     1
88.0     1
160.0    1
45.0     1
752.0    1
169.0    1
21.0     1
200.0    1
113.0    1
41.0     1
314.0    1
12.0     1
414.0    1
66.0     1
648.0    1
218.0    1
174.0    1
60.0     1
108.0    1
144.0    1
336.0    1
216.0    1
360.0    1
72.0     1
576.0    1
Name: yardbuildingsqft26, dtype: int64
-----------------
yearbuilt
1955.0    1893
1950.0    1605
1954.0    1513
1953.0    1481
1956.0    1384
1964.0    1299
1952.0    1202
1951.0    1187
1959.0    1064
1963.0    1013
1947.0    1008
1957.0    1008
1962.0    1000
1965.0     985
1949.0     971
1948.0     930
1960.0     873
1989.0     833
1961.0     815
1977.0     801
1958.0     785
1976.0     732
1973.0     704
1972.0     696
1987.0     667
1978.0     643
1969.0     622
1968.0     614
1979.0     606
1990.0     596
1986.0     588
1971.0     583
1966.0     563
1923.0     526
1941.0     523
1940.0     513
1924.0     502
1988.0     492
2001.0     492
1925.0     482
1985.0     476
2000.0     472
2005.0     472
1970.0     467
2003.0     463
1999.0     444
1939.0     438
2004.0     432
1980.0     426
1926.0     424
1974.0     423
1967.0     421
2006.0     416
2002.0     413
1984.0     402
1998.0     394
1997.0     390
1946.0     389
1922.0     380
1975.0     370
1938.0     356
1994.0     355
1927.0     341
1996.0     334
1992.0     331
1942.0     328
1928.0     323
1995.0     321
1944.0     314
2007.0     311
1981.0     310
1937.0     289
1993.0     284
1983.0     281
1991.0     261
1929.0     253
1936.0     237
1921.0     198
1930.0     196
1920.0     176
2014.0     165
1945.0     165
2013.0     153
1943.0     153
1982.0     148
2008.0     145
1912.0     140
1935.0     126
1931.0     124
1910.0     116
2010.0     114
2012.0     112
2011.0     104
1913.0      97
1911.0      95
2009.0      89
1932.0      89
2015.0      80
1915.0      79
1914.0      71
1909.0      69
1919.0      68
1933.0      63
1905.0      61
1908.0      60
1934.0      54
1918.0      51
1906.0      50
1917.0      47
1907.0      43
1916.0      38
1904.0      19
1903.0      19
1901.0      14
1902.0      13
1895.0      12
1900.0      10
1890.0       7
1898.0       6
1885.0       5
1896.0       5
2016.0       3
1888.0       3
1899.0       3
1893.0       3
1887.0       3
1889.0       1
1897.0       1
1892.0       1
1878.0       1
1882.0       1
1894.0       1
1880.0       1
Name: yearbuilt, dtype: int64
-----------------
numberofstories
1.0    8868
2.0    5312
3.0     351
6.0       1
Name: numberofstories, dtype: int64
-----------------
fireplaceflag
1.0    81
Name: fireplaceflag, dtype: int64
-----------------
structuretaxvaluedollarcnt
100000.0    50
200000.0    36
90000.0     32
32489.0     28
95000.0     27
            ..
115173.0     1
77121.0      1
90724.0      1
47943.0      1
77118.0      1
Name: structuretaxvaluedollarcnt, Length: 37333, dtype: int64
-----------------
taxvaluedollarcnt
455000.0    33
600000.0    30
550000.0    24
500000.0    24
450000.0    24
            ..
875696.0     1
155695.0     1
178508.0     1
87920.0      1
259334.0     1
Name: taxvaluedollarcnt, Length: 38942, dtype: int64
-----------------
assessmentyear
2016.0    52320
Name: assessmentyear, dtype: int64
-----------------
landtaxvaluedollarcnt
21299.0     95
22755.0     63
30210.0     63
16522.0     53
16749.0     51
            ..
502544.0     1
22512.0      1
370279.0     1
27339.0      1
283704.0     1
Name: landtaxvaluedollarcnt, Length: 36912, dtype: int64
-----------------
taxamount
345.72     4
1625.61    3
5613.50    3
2710.42    3
5801.93    3
          ..
3177.20    1
2844.41    1
2654.20    1
3460.18    1
3345.78    1
Name: taxamount, Length: 50834, dtype: int64
-----------------
taxdelinquencyflag
Y    2068
Name: taxdelinquencyflag, dtype: int64
-----------------
taxdelinquencyyear
15.0    1124
14.0     559
13.0     126
12.0      81
11.0      79
10.0      47
9.0       33
8.0        8
7.0        8
6.0        1
99.0       1
4.0        1
Name: taxdelinquencyyear, dtype: int64
-----------------
censustractandblock
6.037920e+13    32
6.037920e+13    27
6.059032e+13    24
6.037142e+13    24
6.059032e+13    23
                ..
6.037187e+13     1
6.037573e+13     1
6.037123e+13     1
6.111002e+13     1
6.037503e+13     1
Name: censustractandblock, Length: 31404, dtype: int64
-----------------
propertylandusedesc
Single Family Residential    52320
Name: propertylandusedesc, dtype: int64
-----------------

In [14]:
# shows which columns have 2% or more null values
util.get_nan_cols(z_df, nan_percent=0.02)

['airconditioningtypeid',
 'architecturalstyletypeid',
 'basementsqft',
 'buildingclasstypeid',
 'buildingqualitytypeid',
 'decktypeid',
 'finishedfloor1squarefeet',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fireplacecnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'heatingorsystemtypeid',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertyzoningdesc',
 'regionidneighborhood',
 'storytypeid',
 'threequarterbathnbr',
 'typeconstructiontypeid',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'numberofstories',
 'fireplaceflag',
 'taxdelinquencyflag',
 'taxdelinquencyyear']

In [15]:
# gets rid of any columns with more that 2% null values
z_df = util.percentage_dropper(z_df)

In [16]:
# shows updated info of the remaining columns
z_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52320 entries, 585 to 51811
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   propertylandusetypeid         52320 non-null  float64
 1   parcelid                      52320 non-null  int64
 2   id                            52320 non-null  int64
 3   logerror                      52320 non-null  float64
 4   transactiondate               52320 non-null  object
 5   id.1                          52320 non-null  int64
 6   bathroomcnt                   52320 non-null  float64
 7   bedroomcnt                    52320 non-null  float64
 8   calculatedbathnbr             52185 non-null  float64
 9   calculatedfinishedsquarefeet  52239 non-null  float64
 10  finishedsquarefeet12          52074 non-null  float64
 11  fips                          52320 non-null  float64
 12  fullbathcnt                   52185 non-null  float64
 13  latitude                      52320 non-null  float64
 14  longitude                     52320 non-null  float64
 15  lotsizesquarefeet             51954 non-null  float64
 16  propertycountylandusecode     52320 non-null  object
 17  rawcensustractandblock        52320 non-null  float64
 18  regionidcity                  51284 non-null  float64
 19  regionidcounty                52320 non-null  float64
 20  regionidzip                   52294 non-null  float64
 21  roomcnt                       52320 non-null  float64
 22  yearbuilt                     52206 non-null  float64
 23  structuretaxvaluedollarcnt    52238 non-null  float64
 24  taxvaluedollarcnt             52319 non-null  float64
 25  assessmentyear                52320 non-null  float64
 26  landtaxvaluedollarcnt         52319 non-null  float64
 27  taxamount                     52316 non-null  float64
 28  censustractandblock           52199 non-null  float64
 29  propertylandusedesc           52320 non-null  object
dtypes: float64(24), int64(3), object(3)
memory usage: 12.4+ MB

In [17]:
util.get_numbers(z_df)

propertylandusetypeid
261.0    52320
Name: propertylandusetypeid, dtype: int64
-----------------
parcelid
14297519    1
11874371    1
14010021    1
12496785    1
10808525    1
           ..
14002654    1
12168606    1
12742929    1
10757867    1
13083743    1
Name: parcelid, Length: 52320, dtype: int64
-----------------
id
0        1
52024    1
52010    1
52012    1
52015    1
        ..
26046    1
25999    1
26047    1
25998    1
77613    1
Name: id, Length: 52320, dtype: int64
-----------------
logerror
 0.002652    5
 0.000727    5
 0.001878    5
 0.000231    5
 0.018974    4
            ..
-0.018878    1
-0.069824    1
 0.017325    1
-0.012495    1
-0.197755    1
Name: logerror, Length: 52061, dtype: int64
-----------------
transactiondate
2017-06-30    809
2017-04-28    614
2017-05-31    565
2017-07-28    546
2017-08-31    528
             ...
2017-04-08      1
2017-03-25      1
2017-03-12      1
2017-03-11      1
2018-05-25      1
Name: transactiondate, Length: 258, dtype: int64
-----------------
id.1
1727539    1
20265      1
369019     1
2177130    1
2432387    1
          ..
2784512    1
811864     1
2603278    1
866395     1
2455685    1
Name: id.1, Length: 52320, dtype: int64
-----------------
bathroomcnt
2.0     21840
3.0     10650
1.0      9536
2.5      3932
4.0      2225
3.5       916
1.5       839
5.0       803
4.5       686
6.0       320
5.5       224
0.0       119
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: bathroomcnt, dtype: int64
-----------------
bedroomcnt
3.0     23303
4.0     15210
2.0      8317
5.0      3967
6.0       634
1.0       611
0.0       135
7.0       106
8.0        24
9.0         8
10.0        2
14.0        1
11.0        1
12.0        1
Name: bedroomcnt, dtype: int64
-----------------
calculatedbathnbr
2.0     21840
3.0     10650
1.0      9536
2.5      3924
4.0      2225
3.5       916
1.5       832
5.0       803
4.5       686
6.0       320
5.5       223
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: calculatedbathnbr, dtype: int64
-----------------
calculatedfinishedsquarefeet
1120.0    128
1200.0    118
1080.0    101
936.0      86
1040.0     86
         ...
3079.0      1
9843.0      1
7356.0      1
7812.0      1
5655.0      1
Name: calculatedfinishedsquarefeet, Length: 4723, dtype: int64
-----------------
finishedsquarefeet12
1120.0    127
1200.0    117
1080.0    101
936.0      86
1040.0     85
         ...
4845.0      1
6501.0      1
3361.0      1
6936.0      1
5655.0      1
Name: finishedsquarefeet12, Length: 4716, dtype: int64
-----------------
fips
6037.0    33824
6059.0    14111
6111.0     4385
Name: fips, dtype: int64
-----------------
fullbathcnt
2.0     25776
3.0     11575
1.0     10368
4.0      2912
5.0      1022
6.0       357
7.0        96
8.0        56
9.0        13
10.0        5
11.0        3
18.0        1
13.0        1
Name: fullbathcnt, dtype: int64
-----------------
latitude
34047500.0    12
34487900.0     7
33494800.0     7
34101300.0     7
34041200.0     6
              ..
33942519.0     1
34031307.0     1
33548538.0     1
34017175.0     1
34010864.0     1
Name: latitude, Length: 50478, dtype: int64
-----------------
longitude
-118249000.0    12
-118327000.0     7
-117835000.0     7
-118172000.0     7
-117670000.0     7
                ..
-118180423.0     1
-118185630.0     1
-117931465.0     1
-118184391.0     1
-117900894.0     1
Name: longitude, Length: 50764, dtype: int64
-----------------
lotsizesquarefeet
6000.0      873
5000.0      413
7200.0      306
7000.0      285
6500.0      272
           ...
2527.0        1
126718.0      1
14146.0       1
3820.0        1
47405.0       1
Name: lotsizesquarefeet, Length: 14292, dtype: int64
-----------------
propertycountylandusecode
0100    26714
122     13045
0101     6399
1111     3353
1        1066
1110     1024
0104      367
010G       93
0103       91
0108       57
010M       52
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64
-----------------
rawcensustractandblock
6.037920e+07    36
6.037920e+07    32
6.037142e+07    24
6.059032e+07    24
6.059032e+07    23
                ..
6.037270e+07     1
6.037187e+07     1
6.037232e+07     1
6.111005e+07     1
6.037503e+07     1
Name: rawcensustractandblock, Length: 31440, dtype: int64
-----------------
regionidcity
12447.0    11418
5534.0      1791
40227.0     1491
46298.0     1424
16764.0     1085
           ...
32927.0        3
31134.0        2
36078.0        1
10815.0        1
21395.0        1
Name: regionidcity, Length: 175, dtype: int64
-----------------
regionidcounty
3101.0    33824
1286.0    14111
2061.0     4385
Name: regionidcounty, dtype: int64
-----------------
regionidzip
97319.0    776
97318.0    670
97329.0    563
97328.0    519
97118.0    497
          ...
97092.0      1
96038.0      1
96148.0      1
96467.0      1
97088.0      1
Name: regionidzip, Length: 381, dtype: int64
-----------------
roomcnt
0.0     37761
6.0      3974
7.0      3608
8.0      2810
5.0      1886
9.0      1173
4.0       518
10.0      338
11.0      108
3.0        79
12.0       35
2.0        12
13.0       10
14.0        6
1.0         1
15.0        1
Name: roomcnt, dtype: int64
-----------------
yearbuilt
1955.0    1893
1950.0    1605
1954.0    1513
1953.0    1481
1956.0    1384
1964.0    1299
1952.0    1202
1951.0    1187
1959.0    1064
1963.0    1013
1947.0    1008
1957.0    1008
1962.0    1000
1965.0     985
1949.0     971
1948.0     930
1960.0     873
1989.0     833
1961.0     815
1977.0     801
1958.0     785
1976.0     732
1973.0     704
1972.0     696
1987.0     667
1978.0     643
1969.0     622
1968.0     614
1979.0     606
1990.0     596
1986.0     588
1971.0     583
1966.0     563
1923.0     526
1941.0     523
1940.0     513
1924.0     502
1988.0     492
2001.0     492
1925.0     482
1985.0     476
2000.0     472
2005.0     472
1970.0     467
2003.0     463
1999.0     444
1939.0     438
2004.0     432
1980.0     426
1926.0     424
1974.0     423
1967.0     421
2006.0     416
2002.0     413
1984.0     402
1998.0     394
1997.0     390
1946.0     389
1922.0     380
1975.0     370
1938.0     356
1994.0     355
1927.0     341
1996.0     334
1992.0     331
1942.0     328
1928.0     323
1995.0     321
1944.0     314
2007.0     311
1981.0     310
1937.0     289
1993.0     284
1983.0     281
1991.0     261
1929.0     253
1936.0     237
1921.0     198
1930.0     196
1920.0     176
2014.0     165
1945.0     165
2013.0     153
1943.0     153
1982.0     148
2008.0     145
1912.0     140
1935.0     126
1931.0     124
1910.0     116
2010.0     114
2012.0     112
2011.0     104
1913.0      97
1911.0      95
2009.0      89
1932.0      89
2015.0      80
1915.0      79
1914.0      71
1909.0      69
1919.0      68
1933.0      63
1905.0      61
1908.0      60
1934.0      54
1918.0      51
1906.0      50
1917.0      47
1907.0      43
1916.0      38
1904.0      19
1903.0      19
1901.0      14
1902.0      13
1895.0      12
1900.0      10
1890.0       7
1898.0       6
1885.0       5
1896.0       5
2016.0       3
1888.0       3
1899.0       3
1893.0       3
1887.0       3
1889.0       1
1897.0       1
1892.0       1
1878.0       1
1882.0       1
1894.0       1
1880.0       1
Name: yearbuilt, dtype: int64
-----------------
structuretaxvaluedollarcnt
100000.0    50
200000.0    36
90000.0     32
32489.0     28
95000.0     27
            ..
115173.0     1
77121.0      1
90724.0      1
47943.0      1
77118.0      1
Name: structuretaxvaluedollarcnt, Length: 37333, dtype: int64
-----------------
taxvaluedollarcnt
455000.0    33
600000.0    30
550000.0    24
500000.0    24
450000.0    24
            ..
875696.0     1
155695.0     1
178508.0     1
87920.0      1
259334.0     1
Name: taxvaluedollarcnt, Length: 38942, dtype: int64
-----------------
assessmentyear
2016.0    52320
Name: assessmentyear, dtype: int64
-----------------
landtaxvaluedollarcnt
21299.0     95
22755.0     63
30210.0     63
16522.0     53
16749.0     51
            ..
502544.0     1
22512.0      1
370279.0     1
27339.0      1
283704.0     1
Name: landtaxvaluedollarcnt, Length: 36912, dtype: int64
-----------------
taxamount
345.72     4
1625.61    3
5613.50    3
2710.42    3
5801.93    3
          ..
3177.20    1
2844.41    1
2654.20    1
3460.18    1
3345.78    1
Name: taxamount, Length: 50834, dtype: int64
-----------------
censustractandblock
6.037920e+13    32
6.037920e+13    27
6.059032e+13    24
6.037142e+13    24
6.059032e+13    23
                ..
6.037187e+13     1
6.037573e+13     1
6.037123e+13     1
6.111002e+13     1
6.037503e+13     1
Name: censustractandblock, Length: 31404, dtype: int64
-----------------
propertylandusedesc
Single Family Residential    52320
Name: propertylandusedesc, dtype: int64
-----------------

In [18]:
z_df.head(10)

,propertylandusetypeid,parcelid,id,logerror,transactiondate,id.1,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,...,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,propertylandusedesc
585,261.0,14297519,0,0.025595,2017-01-01,1727539,3.5,4.0,3.5,3100.0,...,96978.0,0.0,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,Single Family Residential
584,261.0,17052889,1,0.055619,2017-01-01,1387261,1.0,2.0,1.0,1465.0,...,97099.0,5.0,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,Single Family Residential
583,261.0,14186244,2,0.005383,2017-01-01,11677,2.0,3.0,2.0,1243.0,...,97078.0,6.0,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,Single Family Residential
582,261.0,12177905,3,-0.103410,2017-01-01,2288172,3.0,4.0,3.0,2376.0,...,96330.0,0.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,Single Family Residential
581,261.0,12095076,6,-0.001011,2017-01-01,781532,3.0,4.0,3.0,2962.0,...,96293.0,0.0,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,Single Family Residential
580,261.0,12069064,7,0.101723,2017-01-01,870991,1.0,2.0,1.0,738.0,...,96325.0,0.0,1922.0,18890.0,218552.0,2016.0,199662.0,2366.08,6.037302e+13,Single Family Residential
527,261.0,12579560,86,-0.025721,2017-01-02,843278,1.0,2.0,1.0,1027.0,...,96229.0,0.0,1951.0,27521.0,49034.0,2016.0,21513.0,1179.11,6.037544e+13,Single Family Residential
534,261.0,13069118,76,-0.006370,2017-01-02,2038421,4.0,5.0,4.0,5900.0,...,96522.0,0.0,1989.0,559288.0,737397.0,2016.0,178109.0,8924.13,6.037403e+13,Single Family Residential
535,261.0,12879860,75,0.000161,2017-01-02,2887122,1.0,2.0,1.0,1046.0,...,96506.0,0.0,1885.0,46400.0,232000.0,2016.0,185600.0,3002.30,6.037403e+13,Single Family Residential
536,261.0,12871444,73,0.036263,2017-01-02,2603857,2.0,3.0,2.0,1059.0,...,96507.0,0.0,1955.0,51776.0,187119.0,2016.0,135343.0,2481.45,6.037402e+13,Single Family Residential

In [19]:
z_df.isna().sum()

propertylandusetypeid              0
parcelid                           0
id                                 0
logerror                           0
transactiondate                    0
id.1                               0
bathroomcnt                        0
bedroomcnt                         0
calculatedbathnbr                135
calculatedfinishedsquarefeet      81
finishedsquarefeet12             246
fips                               0
fullbathcnt                      135
latitude                           0
longitude                          0
lotsizesquarefeet                366
propertycountylandusecode          0
rawcensustractandblock             0
regionidcity                    1036
regionidcounty                     0
regionidzip                       26
roomcnt                            0
yearbuilt                        114
structuretaxvaluedollarcnt        82
taxvaluedollarcnt                  1
assessmentyear                     0
landtaxvaluedollarcnt              1
taxamount                          4
censustractandblock              121
propertylandusedesc                0
dtype: int64

In [20]:
z_df.drop_duplicates(inplace=True)

In [21]:
z_df.isna().sum()

propertylandusetypeid              0
parcelid                           0
id                                 0
logerror                           0
transactiondate                    0
id.1                               0
bathroomcnt                        0
bedroomcnt                         0
calculatedbathnbr                135
calculatedfinishedsquarefeet      81
finishedsquarefeet12             246
fips                               0
fullbathcnt                      135
latitude                           0
longitude                          0
lotsizesquarefeet                366
propertycountylandusecode          0
rawcensustractandblock             0
regionidcity                    1036
regionidcounty                     0
regionidzip                       26
roomcnt                            0
yearbuilt                        114
structuretaxvaluedollarcnt        82
taxvaluedollarcnt                  1
assessmentyear                     0
landtaxvaluedollarcnt              1
taxamount                          4
censustractandblock              121
propertylandusedesc                0
dtype: int64

In [22]:
z_df = wrangle.handle_nulls(z_df)

In [23]:
z_df.isna().sum()

propertylandusetypeid           0
parcelid                        0
id                              0
logerror                        0
transactiondate                 0
id.1                            0
bathroomcnt                     0
bedroomcnt                      0
calculatedbathnbr               0
calculatedfinishedsquarefeet    0
finishedsquarefeet12            0
fips                            0
fullbathcnt                     0
latitude                        0
longitude                       0
lotsizesquarefeet               0
propertycountylandusecode       0
rawcensustractandblock          0
regionidcity                    0
regionidcounty                  0
regionidzip                     0
roomcnt                         0
yearbuilt                       0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
assessmentyear                  0
landtaxvaluedollarcnt           0
taxamount                       0
censustractandblock             0
propertylandusedesc             0
dtype: int64

In [24]:
z_df

,propertylandusetypeid,parcelid,id,logerror,transactiondate,id.1,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,...,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,propertylandusedesc
585,261.0,14297519,0,0.025595,2017-01-01,1727539,3.5,4.0,3.5,3100.0,...,96978.0,0.0,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,Single Family Residential
584,261.0,17052889,1,0.055619,2017-01-01,1387261,1.0,2.0,1.0,1465.0,...,97099.0,5.0,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,Single Family Residential
583,261.0,14186244,2,0.005383,2017-01-01,11677,2.0,3.0,2.0,1243.0,...,97078.0,6.0,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,Single Family Residential
582,261.0,12177905,3,-0.103410,2017-01-01,2288172,3.0,4.0,3.0,2376.0,...,96330.0,0.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,Single Family Residential
581,261.0,12095076,6,-0.001011,2017-01-01,781532,3.0,4.0,3.0,2962.0,...,96293.0,0.0,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51815,261.0,11000655,77609,0.020615,2017-09-20,673515,2.0,2.0,2.0,1286.0,...,96284.0,0.0,1940.0,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,Single Family Residential
51814,261.0,17239384,77610,0.013209,2017-09-21,2968375,2.0,4.0,2.0,1612.0,...,97116.0,7.0,1964.0,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,Single Family Residential
51813,261.0,12773139,77611,0.037129,2017-09-21,1843709,1.0,3.0,1.0,1032.0,...,96480.0,0.0,1954.0,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,Single Family Residential
51812,261.0,12826780,77612,0.007204,2017-09-25,1187175,2.0,3.0,2.0,1762.0,...,96171.0,0.0,1955.0,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,Single Family Residential
51811,261.0,13083743,77613,-0.197755,2018-05-25,2455685,2.0,3.0,2.0,1050.0,...,96488.0,0.0,1960.0,77118.0,259334.0,2016.0,182216.0,3345.78,6.037408e+13,Single Family Residential

In [25]:
z_df = wrangle.clean_zillow(z_df)
type(z_df)

pandas.core.frame.DataFrame

In [26]:
util.metrics(z_df)

There are 50560 rows and 21 columns in this dataframe.
Plus the following nulls:
parcelid                        0
logerror                        0
transactiondate                 0
bathroomcnt                     0
bedroomcnt                      0
calculatedfinishedsquarefeet    0
fips                            0
latitude                        0
longitude                       0
lotsizesquarefeet               0
propertycountylandusecode       0
rawcensustractandblock          0
regionidcity                    0
regionidzip                     0
yearbuilt                       0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
landtaxvaluedollarcnt           0
taxamount                       0
censustractandblock             0
county                          0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
parcelid,50560.0,1.295981e+07,2.195740e+06,1.071186e+07,1.152888e+07,1.258235e+07,1.412914e+07,1.629608e+08
logerror,50560.0,1.811490e-02,1.750647e-01,-4.655420e+00,-2.475762e-02,6.838764e-03,4.034852e-02,5.262999e+00
bathroomcnt,50560.0,2.293186e+00,1.003989e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.300000e+01
bedroomcnt,50560.0,3.304490e+00,9.271340e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.100000e+01
calculatedfinishedsquarefeet,50560.0,1.912129e+03,9.897919e+02,1.520000e+02,1.268000e+03,1.651000e+03,2.286000e+03,2.192900e+04
fips,50560.0,6.049197e+03,2.117453e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
latitude,50560.0,3.402158e+07,2.716998e+05,3.334085e+07,3.382823e+07,3.402175e+07,3.418533e+07,3.481877e+07
longitude,50560.0,-1.181951e+08,3.559258e+05,-1.194753e+08,-1.183981e+08,-1.181536e+08,-1.179309e+08,-1.175723e+08
lotsizesquarefeet,50560.0,1.108385e+04,8.744150e+04,2.360000e+02,5.576000e+03,6.825000e+03,8.750000e+03,6.971010e+06
rawcensustractandblock,50560.0,6.049504e+07,2.101650e+05,6.037101e+07,6.037400e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,50560.0,3.348266e+04,4.925838e+04,3.491000e+03,1.244700e+04,2.481200e+04,4.022700e+04,3.965560e+05
regionidzip,50560.0,9.663219e+04,4.490389e+03,9.598200e+04,9.620300e+04,9.641400e+04,9.699600e+04,3.996750e+05
yearbuilt,50560.0,1.963011e+03,2.278089e+01,1.878000e+03,1.950000e+03,1.960000e+03,1.978000e+03,2.016000e+03
structuretaxvaluedollarcnt,50560.0,1.931602e+05,2.507154e+05,1.480000e+02,7.683150e+04,1.305880e+05,2.213345e+05,9.164901e+06
taxvaluedollarcnt,50560.0,5.219944e+05,7.128979e+05,3.254000e+03,1.920060e+05,3.696620e+05,6.108505e+05,2.538125e+07
landtaxvaluedollarcnt,50560.0,3.288342e+05,5.199921e+05,1.610000e+02,7.425100e+04,2.165590e+05,4.064888e+05,2.233550e+07
taxamount,50560.0,6.346642e+03,8.262506e+03,4.918000e+01,2.636750e+03,4.596575e+03,7.251350e+03,2.909981e+05
censustractandblock,50560.0,6.050341e+13,1.890856e+12,6.037101e+13,6.037401e+13,6.037603e+13,6.059042e+13,4.830301e+14

In [27]:
# 100% of regionidcity can lose the deicimal and be OK
(z_df.regionidcity == z_df.regionidcity.astype(int)).mean()

1.0

In [28]:
# 100% of regionidzip can lose the deicimal and be OK
(z_df.regionidzip == z_df.regionidzip.astype(int)).mean()

1.0

In [29]:
# 100% of structuretaxvaluedollarcnt can lose the deicimal and be OK
(z_df.structuretaxvaluedollarcnt == z_df.structuretaxvaluedollarcnt.astype(int)).mean()

1.0

In [30]:
# 100% of landtaxvaluedollarcnt can lose the deicimal and be OK
(z_df.landtaxvaluedollarcnt == z_df.landtaxvaluedollarcnt.astype(int)).mean()

1.0

In [31]:
# 100% of censustractandblock can lose the deicimal and be OK
(z_df.censustractandblock == z_df.censustractandblock.astype(int)).mean()

1.0

In [32]:
z_df["transactiondate"] = pd.to_datetime(z_df["transactiondate"])
z_df[["transactiondate"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50560 entries, 585 to 51811
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   transactiondate  50560 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 790.0 KB

In [33]:
util.metrics(z_df)

There are 50560 rows and 21 columns in this dataframe.
Plus the following nulls:
parcelid                        0
logerror                        0
transactiondate                 0
bathroomcnt                     0
bedroomcnt                      0
calculatedfinishedsquarefeet    0
fips                            0
latitude                        0
longitude                       0
lotsizesquarefeet               0
propertycountylandusecode       0
rawcensustractandblock          0
regionidcity                    0
regionidzip                     0
yearbuilt                       0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
landtaxvaluedollarcnt           0
taxamount                       0
censustractandblock             0
county                          0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
parcelid,50560.0,1.295981e+07,2.195740e+06,1.071186e+07,1.152888e+07,1.258235e+07,1.412914e+07,1.629608e+08
logerror,50560.0,1.811490e-02,1.750647e-01,-4.655420e+00,-2.475762e-02,6.838764e-03,4.034852e-02,5.262999e+00
bathroomcnt,50560.0,2.293186e+00,1.003989e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.300000e+01
bedroomcnt,50560.0,3.304490e+00,9.271340e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.100000e+01
calculatedfinishedsquarefeet,50560.0,1.912129e+03,9.897919e+02,1.520000e+02,1.268000e+03,1.651000e+03,2.286000e+03,2.192900e+04
fips,50560.0,6.049197e+03,2.117453e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
latitude,50560.0,3.402158e+07,2.716998e+05,3.334085e+07,3.382823e+07,3.402175e+07,3.418533e+07,3.481877e+07
longitude,50560.0,-1.181951e+08,3.559258e+05,-1.194753e+08,-1.183981e+08,-1.181536e+08,-1.179309e+08,-1.175723e+08
lotsizesquarefeet,50560.0,1.108385e+04,8.744150e+04,2.360000e+02,5.576000e+03,6.825000e+03,8.750000e+03,6.971010e+06
rawcensustractandblock,50560.0,6.049504e+07,2.101650e+05,6.037101e+07,6.037400e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,50560.0,3.348266e+04,4.925838e+04,3.491000e+03,1.244700e+04,2.481200e+04,4.022700e+04,3.965560e+05
regionidzip,50560.0,9.663219e+04,4.490389e+03,9.598200e+04,9.620300e+04,9.641400e+04,9.699600e+04,3.996750e+05
yearbuilt,50560.0,1.963011e+03,2.278089e+01,1.878000e+03,1.950000e+03,1.960000e+03,1.978000e+03,2.016000e+03
structuretaxvaluedollarcnt,50560.0,1.931602e+05,2.507154e+05,1.480000e+02,7.683150e+04,1.305880e+05,2.213345e+05,9.164901e+06
taxvaluedollarcnt,50560.0,5.219944e+05,7.128979e+05,3.254000e+03,1.920060e+05,3.696620e+05,6.108505e+05,2.538125e+07
landtaxvaluedollarcnt,50560.0,3.288342e+05,5.199921e+05,1.610000e+02,7.425100e+04,2.165590e+05,4.064888e+05,2.233550e+07
taxamount,50560.0,6.346642e+03,8.262506e+03,4.918000e+01,2.636750e+03,4.596575e+03,7.251350e+03,2.909981e+05
censustractandblock,50560.0,6.050341e+13,1.890856e+12,6.037101e+13,6.037401e+13,6.037603e+13,6.059042e+13,4.830301e+14

In [34]:
z_df.isna().mean()

parcelid                        0.0
logerror                        0.0
transactiondate                 0.0
bathroomcnt                     0.0
bedroomcnt                      0.0
calculatedfinishedsquarefeet    0.0
fips                            0.0
latitude                        0.0
longitude                       0.0
lotsizesquarefeet               0.0
propertycountylandusecode       0.0
rawcensustractandblock          0.0
regionidcity                    0.0
regionidzip                     0.0
yearbuilt                       0.0
structuretaxvaluedollarcnt      0.0
taxvaluedollarcnt               0.0
landtaxvaluedollarcnt           0.0
taxamount                       0.0
censustractandblock             0.0
county                          0.0
dtype: float64

In [35]:
z_df

,parcelid,logerror,transactiondate,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,...,rawcensustractandblock,regionidcity,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,censustractandblock,county
585,14297519,0.025595,2017-01-01,3.5,4,3100,6059,33634931.0,-117869207.0,4506,...,6.059063e+07,53571,96978,1998,485713,1023282,537569,11013.72,60590630072012,6059
584,17052889,0.055619,2017-01-01,1.0,2,1465,6111,34449266.0,-119281531.0,12647,...,6.111001e+07,13091,97099,1967,88000,464000,376000,5672.48,61110010023006,6111
583,14186244,0.005383,2017-01-01,2.0,3,1243,6059,33886168.0,-117823170.0,8432,...,6.059022e+07,21412,97078,1962,85289,564778,479489,6488.30,60590218022012,6059
582,12177905,-0.103410,2017-01-01,3.0,4,2376,6037,34245180.0,-118240722.0,13038,...,6.037300e+07,396551,96330,1970,108918,145143,36225,1777.51,60373001001006,6037
581,12095076,-0.001011,2017-01-01,3.0,4,2962,6037,34145202.0,-118179824.0,63000,...,6.037461e+07,47019,96293,1950,276684,773303,496619,9516.26,60374608001014,6037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51815,11000655,0.020615,2017-09-20,2.0,2,1286,6037,34245368.0,-118282383.0,47405,...,6.037101e+07,12447,96284,1940,70917,354621,283704,4478.43,60371014003002,6037
51814,17239384,0.013209,2017-09-21,2.0,4,1612,6111,34300140.0,-118706327.0,12105,...,6.111008e+07,27110,97116,1964,50683,67205,16522,1107.48,61110084022016,6111
51813,12773139,0.037129,2017-09-21,1.0,3,1032,6037,34040895.0,-118038169.0,5074,...,6.037434e+07,36502,96480,1954,32797,49546,16749,876.43,60374338022005,6037
51812,12826780,0.007204,2017-09-25,2.0,3,1762,6037,33937685.0,-117996709.0,6347,...,6.037503e+07,14634,96171,1955,140000,522000,382000,6317.15,60375034021020,6037
51811,13083743,-0.197755,2018-05-25,2.0,3,1050,6037,34010864.0,-117900894.0,5927,...,6.037408e+07,118217,96488,1960,77118,259334,182216,3345.78,60374081401000,6037

In [36]:
z_df['county'] = z_df['county'].replace(['6037.0', '6059.0', '6111.0'], ['Los Angeles', 'Orange', 'Ventura'])

In [37]:
z_df

,parcelid,logerror,transactiondate,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,...,rawcensustractandblock,regionidcity,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,censustractandblock,county
585,14297519,0.025595,2017-01-01,3.5,4,3100,6059,33634931.0,-117869207.0,4506,...,6.059063e+07,53571,96978,1998,485713,1023282,537569,11013.72,60590630072012,6059
584,17052889,0.055619,2017-01-01,1.0,2,1465,6111,34449266.0,-119281531.0,12647,...,6.111001e+07,13091,97099,1967,88000,464000,376000,5672.48,61110010023006,6111
583,14186244,0.005383,2017-01-01,2.0,3,1243,6059,33886168.0,-117823170.0,8432,...,6.059022e+07,21412,97078,1962,85289,564778,479489,6488.30,60590218022012,6059
582,12177905,-0.103410,2017-01-01,3.0,4,2376,6037,34245180.0,-118240722.0,13038,...,6.037300e+07,396551,96330,1970,108918,145143,36225,1777.51,60373001001006,6037
581,12095076,-0.001011,2017-01-01,3.0,4,2962,6037,34145202.0,-118179824.0,63000,...,6.037461e+07,47019,96293,1950,276684,773303,496619,9516.26,60374608001014,6037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51815,11000655,0.020615,2017-09-20,2.0,2,1286,6037,34245368.0,-118282383.0,47405,...,6.037101e+07,12447,96284,1940,70917,354621,283704,4478.43,60371014003002,6037
51814,17239384,0.013209,2017-09-21,2.0,4,1612,6111,34300140.0,-118706327.0,12105,...,6.111008e+07,27110,97116,1964,50683,67205,16522,1107.48,61110084022016,6111
51813,12773139,0.037129,2017-09-21,1.0,3,1032,6037,34040895.0,-118038169.0,5074,...,6.037434e+07,36502,96480,1954,32797,49546,16749,876.43,60374338022005,6037
51812,12826780,0.007204,2017-09-25,2.0,3,1762,6037,33937685.0,-117996709.0,6347,...,6.037503e+07,14634,96171,1955,140000,522000,382000,6317.15,60375034021020,6037
51811,13083743,-0.197755,2018-05-25,2.0,3,1050,6037,34010864.0,-117900894.0,5927,...,6.037408e+07,118217,96488,1960,77118,259334,182216,3345.78,60374081401000,6037

In [38]:
z_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50560 entries, 585 to 51811
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      50560 non-null  int64
 1   logerror                      50560 non-null  float64
 2   transactiondate               50560 non-null  datetime64[ns]
 3   bathroomcnt                   50560 non-null  float64
 4   bedroomcnt                    50560 non-null  int64
 5   calculatedfinishedsquarefeet  50560 non-null  int64
 6   fips                          50560 non-null  int64
 7   latitude                      50560 non-null  float64
 8   longitude                     50560 non-null  float64
 9   lotsizesquarefeet             50560 non-null  int64
 10  propertycountylandusecode     50560 non-null  object
 11  rawcensustractandblock        50560 non-null  float64
 12  regionidcity                  50560 non-null  int64
 13  regionidzip                   50560 non-null  int64
 14  yearbuilt                     50560 non-null  int64
 15  structuretaxvaluedollarcnt    50560 non-null  int64
 16  taxvaluedollarcnt             50560 non-null  int64
 17  landtaxvaluedollarcnt         50560 non-null  int64
 18  taxamount                     50560 non-null  float64
 19  censustractandblock           50560 non-null  int64
 20  county                        50560 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(12), object(2)
memory usage: 8.5+ MB

In [40]:
wrangle.add_upper_outlier_columns(z_df, k=1.5)

z_df.head()

,parcelid,logerror,transactiondate,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,...,lotsizesquarefeet_outliers,rawcensustractandblock_outliers,regionidcity_outliers,regionidzip_outliers,yearbuilt_outliers,structuretaxvaluedollarcnt_outliers,taxvaluedollarcnt_outliers,landtaxvaluedollarcnt_outliers,taxamount_outliers,censustractandblock_outliers
585,14297519,0.025595,2017-01-01,3.5,4,3100,6059,33634931.0,-117869207.0,4506,...,0.0,0.000000,0.0,0.0,0,47624.0,0.0,0.0,0.0,0.000000e+00
584,17052889,0.055619,2017-01-01,1.0,2,1465,6111,34449266.0,-119281531.0,12647,...,0.0,194957.884963,0.0,0.0,0,0.0,0.0,0.0,0.0,1.949609e+11
583,14186244,0.005383,2017-01-01,2.0,3,1243,6059,33886168.0,-117823170.0,8432,...,0.0,0.000000,0.0,0.0,0,0.0,0.0,0.0,0.0,0.000000e+00
582,12177905,-0.103410,2017-01-01,3.0,4,2376,6037,34245180.0,-118240722.0,13038,...,0.0,0.000000,314654.0,0.0,0,0.0,0.0,0.0,0.0,0.000000e+00
581,12095076,-0.001011,2017-01-01,3.0,4,2962,6037,34145202.0,-118179824.0,63000,...,49489.0,0.000000,0.0,0.0,0,0.0,0.0,0.0,0.0,0.000000e+00

In [44]:
# Prints out just the outliers for our columns
outlier_cols = [col for col in z_df if col.endswith('_outliers')]
for col in outlier_cols:
    print('~~~\n' + col)
    data = z_df[col][z_df[col] > 0]
    print(data.describe())

~~~
parcelid_outliers
count    4.000000e+00
mean     1.449311e+08
std      1.380251e+02
min      1.449310e+08
25%      1.449310e+08
50%      1.449310e+08
75%      1.449311e+08
max      1.449313e+08
Name: parcelid_outliers, dtype: float64
~~~
logerror_outliers
count    3.652000e+03
mean     2.282028e-01
std      3.955953e-01
min      1.808068e-07
25%      3.826338e-02
50%      9.813134e-02
75%      2.363072e-01
max      5.124991e+00
Name: logerror_outliers, dtype: float64
~~~
bathroomcnt_outliers
count    1456.000000
mean        1.132212
std         0.926249
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max         8.500000
Name: bathroomcnt_outliers, dtype: float64
~~~
bedroomcnt_outliers
count    736.000000
mean       0.748641
std        0.612232
min        0.500000
25%        0.500000
50%        0.500000
75%        0.500000
max        5.500000
Name: bedroomcnt_outliers, dtype: float64
~~~
calculatedfinishedsquarefeet_outliers
count     2235.000000
mean      1173.032215
std       1447.160874
min          1.000000
25%        266.500000
50%        701.000000
75%       1547.500000
max      18116.000000
Name: calculatedfinishedsquarefeet_outliers, dtype: float64
~~~
fips_outliers
count    4320.0
mean       19.0
std         0.0
min        19.0
25%        19.0
50%        19.0
75%        19.0
max        19.0
Name: fips_outliers, dtype: float64
~~~
latitude_outliers
count       34.000000
mean     40851.227941
std      25756.081638
min         80.875000
25%      24322.625000
50%      35197.375000
75%      57911.375000
max      97787.875000
Name: latitude_outliers, dtype: float64
~~~
longitude_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: longitude_outliers, dtype: float64
~~~
lotsizesquarefeet_outliers
count    5.337000e+03
mean     3.445058e+04
std      2.662373e+05
min      2.000000e+00
25%      3.147000e+03
50%      7.294000e+03
75%      2.095900e+04
max      6.957499e+06
Name: lotsizesquarefeet_outliers, dtype: float64
~~~
rawcensustractandblock_outliers
count      4320.000000
mean     195000.664123
std          25.172362
min      194949.863003
25%      194978.863988
50%      195005.884958
75%      195022.963957
max      195038.862974
Name: rawcensustractandblock_outliers, dtype: float64
~~~
regionidcity_outliers
count      1610.000000
mean     171292.991304
std      138580.851489
min       31515.000000
25%       36328.000000
50%       37097.000000
75%      314157.000000
max      314659.000000
Name: regionidcity_outliers, dtype: float64
~~~
regionidzip_outliers
count        11.0
mean     301489.5
std           0.0
min      301489.5
25%      301489.5
50%      301489.5
75%      301489.5
max      301489.5
Name: regionidzip_outliers, dtype: float64
~~~
yearbuilt_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: yearbuilt_outliers, dtype: float64
~~~
structuretaxvaluedollarcnt_outliers
count    3.809000e+03
mean     3.610063e+05
std      5.745853e+05
min      9.400000e+01
25%      7.162500e+04
50%      1.818320e+05
75%      4.267860e+05
max      8.726812e+06
Name: structuretaxvaluedollarcnt_outliers, dtype: float64
~~~
taxvaluedollarcnt_outliers
count    3.432000e+03
mean     1.063033e+06
std      1.760320e+06
min      7.147500e+02
25%      2.042470e+05
50%      5.203752e+05
75%      1.219368e+06
max      2.414213e+07
Name: taxvaluedollarcnt_outliers, dtype: float64
~~~
landtaxvaluedollarcnt_outliers
count    2.857000e+03
mean     8.283134e+05
std      1.416139e+06
min      1.266250e+02
25%      1.511546e+05
50%      4.109086e+05
75%      9.226046e+05
max      2.143065e+07
Name: landtaxvaluedollarcnt_outliers, dtype: float64
~~~
taxamount_outliers
count      3693.000000
mean      11902.874059
std       20022.560736
min           1.720000
25%        2229.890000
50%        5867.270000
75%       13504.400000
max      276824.810000
Name: taxamount_outliers, dtype: float64
~~~
censustractandblock_outliers
count    4.321000e+03
mean     2.926477e+11
std      6.418566e+12
min      1.949528e+11
25%      1.949818e+11
50%      1.950089e+11
75%      1.950259e+11
max      4.221151e+14
Name: censustractandblock_outliers, dtype: float64